.btn {
    background: none;
    border: none;

    &:hover,
    &:focus-visible {
        color: var(--color-light);
        text-shadow: 0 0 10px var(--color-blue-neon-rgba);
        animation: shadow-pulse-small 1.5s ease-in-out infinite;
    }
}