label {
    display: flex;
    gap: 0.5rem;
    opacity: 0.9;
    font-size: 0.65rem;

    .terminal-prompt {
        opacity: 0.8;
    }

    &:has(:user-invalid) {
        color: var(--red);
        animation: sith-pulse-text 1.5s infinite;

        .invalid-svg {
            visibility: visible;
        }
    }
}

input {
    border: 0;
    background: none;
    padding: 0.2rem;
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    width: min(300px, 100%);
    font-size: 0.65rem;

    &:user-invalid {
        color: var(--red);
    }
}

.invalid-svg {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}