@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
  --font-inter: "Inter", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-black-ops: "Black Ops One", system-ui;
  --color-dark: rgb(30, 30, 30);
  --color-light: rgb(220, 240, 255);
  --color-light-rgba: rgba(220, 240, 255, 0.85);
  --color-blue-neon-rgba: rgba(143, 220, 255, 0.6);
  --color-blue-neon-rgba-2: rgba(143, 220, 255, 0.4);
  --color-dark-rgba: rgba(0, 0, 0, 0.85);
  --color-blue-neon: rgb(143, 220, 255);
  --bg-hangar: url(../assets/images/app-bg.png);
  --neon-gradient: linear-gradient(90deg,
      rgb(200, 243, 255),
      rgb(143, 220, 255),
      rgb(111, 184, 230),
      rgb(79, 163, 209));
  --neon-gradient-rgba: linear-gradient(90deg,
      rgba(200, 243, 255, 0.1),
      rgba(143, 220, 255, 0.2),
      rgba(111, 184, 230, 0.2),
      rgba(79, 163, 209, 0.2));
  --scrollbar-gradient: linear-gradient(180deg,
      rgba(143, 220, 255, 0.9),
      rgba(90, 190, 255, 0.8));
  --hud-clip: polygon(0% 8.33%, 5% 0%, 45% 0%, 47% 3%, 53% 3%, 55% 0%, 95% 0%, 100% 8.33%,
      100% 45%, 99% 47%, 99% 53%, 100% 55%,
      100% 91.67%, 95% 100%, 55% 100%, 53% 97%, 47% 97%, 45% 100%, 5% 100%, 0% 91.67%,
      0% 55%, 1% 53%, 1% 47%, 0% 45%);
  --hud-gradient: linear-gradient(135deg,
      rgba(10, 25, 40, 0.58),
      rgba(5, 15, 25, 0.92));
  --overlay: linear-gradient(140deg,
      rgba(0, 0, 0, 0.8),
      transparent);
  background-color: var(--color-dark);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  width: 100vw;
  min-height: 100dvh;
  background-image: var(--bg-hangar);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--color-light);
  font-family: var(--font-inter);
  font-size: 0.85rem;
  display: flex;
  justify-content: center;

  &::before {
    background: var(--overlay);
    position: fixed;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

section {
  width: min(1000px, 80vw);
  margin: auto;
}

.text-block {
  filter:
    drop-shadow(0 0 8px var(--color-blue-neon-rgba));
}

.hub-border {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.neon-text,
h1,
h2,
h4 {
  background: var(--neon-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2 {
  font-family: var(--font-orbitron);
  filter:
    drop-shadow(0 0 2px rgba(143, 220, 255, 0.5)) drop-shadow(0 0 6px rgba(79, 163, 209, 0.35));
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
}

h2 {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  margin-bottom: 1.8rem;
}


h3 {
  font-family: var(--font-black-ops);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

@media (orientation: landscape) {
  body {
    height: 100dvh;
  }

  section {
    height: 65dvh;
  }
}

@media (orientation: portrait) {
  .hub-screen {
    display: none;
  }
}