.app-container {
    width: 100vw;
    min-height: 100dvh;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (orientation: portrait) {
    .app-container {
        justify-content: flex-start;
        gap: 1rem;
    }
}