.google-btn {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid var(--cyan-rgba-2);
    background: var(--hud-gradient);

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg,
                transparent,
                var(--cyan-rgba-4),
                transparent);
        animation: scan 3s linear infinite;
    }
}


.google-terminal-icon {
    filter: drop-shadow(0 0 3px currentColor);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.google-btn:active {
    transform: translateY(0);
    box-shadow:
        0 0 15px var(--cyan-rgba-2),
        inset 0 0 15px rgba(0, 255, 255, 0.2);
}

@media (hover: hover) and (pointer: fine) {

    .google-btn:hover,
    &:focus-visible {
        background: var(--cyan-rgba-2);
        border-color: var(--blue-neon);
        color: var(--blue-neon);
        box-shadow:
            0 0 25px var(--cyan-rgba-2),
            inset 0 0 20px var(--cyan-rgba-2);
        transform: translateY(-1px);

        .terminal-prompt,
        .google-terminal-icon {
            opacity: 1
        }
    }
}