article {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: minmax(0, 1fr);
}

.ship-info {
    padding: 3rem 2rem;
    width: 100%;
}

.ship-hologram {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    place-self: center;
    padding: 1rem;
}

.ship-subtitle {
    font-size: clamp(0.55rem, 0.9vw, 0.75rem);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--blue-label);
}

.hud-section {
    padding-top: 1rem;

    &:not(:last-of-type)::after {
        content: "";
        display: block;
        height: 1px;
        margin-top: 8px;
        background: linear-gradient(to right,
                rgba(120, 220, 255, .4),
                transparent);
    }

    .label {
        font-size: clamp(0.45rem, 0.8vw, 0.65rem);
        letter-spacing: 0.12em;
        color: var(--blue-label);
    }

    .value {
        font-size: clamp(0.55rem, 0.9vw, 0.75rem);
    }

    .pilot-name {
        font-size: clamp(0.45rem, 0.9vw, 0.6rem);
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: var(--blue-neon);
    }
}

.hud-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.3rem;
}

.hud-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.hud-pilot {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.row {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

@media (max-width: 1200px) {
    .ship-info {
        padding: 2.5rem;
    }
}

@media (orientation: portrait) {
    article {
        display: flex;
        flex-direction: column-reverse;
    }

    .ship-info {
        padding: 2rem;
        clip-path: var(--hud-clip);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background: url(../../../../assets//svg/hud-border.svg) var(--dark-rgba-2);
    }
}