.starship-block {
    position: relative;
    clip-path: var(--hud-clip);
    background: var(--color-dark-rgba) var(--neon-gradient-rgba);
}

.ship-list {
    width: 100%;
    height: 100%;
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1.5rem;
    overflow-y: scroll;
}

.ship-list::-webkit-scrollbar {
    width: 6px;
}

.ship-list::-webkit-scrollbar-track {
    background: rgba(10, 25, 40, 0.3);
    margin: 10px 0;
}

.ship-list::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            rgba(180, 240, 255, 0.9),
            rgba(90, 190, 255, 0.8));

    border-radius: 8px;

    box-shadow:
        0 0 6px rgba(120, 220, 255, 0.6),
        inset 0 0 4px rgba(255, 255, 255, 0.25);
}

.ship-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
            rgba(210, 255, 255, 1),
            rgba(120, 220, 255, 0.95));
}

@media (orientation: portrait) {
    .starship-block {
        clip-path: none;
        background: none;
    }

    .ship-list {
        overflow: auto;
        padding: 2rem 2rem 8rem 2rem;
        justify-content: center;
    }

    .hub-border {
        display: none;
    }
}


@media (max-width: 900px) {
    .ship-list {
        padding: 2rem 1rem 5rem 1rem;
        grid-template-columns: 1fr;
    }
}