.hud::before {
    content: " ";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    height: 60px;
    background: linear-gradient(to bottom,
            var(--color-dark-rgba-2) 40%,
            transparent);
    pointer-events: none;
    z-index: 1;
}

.hud::after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    height: 60px;
    background: linear-gradient(to top,
            var(--color-dark-rgba-2) 40%,
            transparent);
    pointer-events: none;
}

.ship-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-items: center;
    gap: 2rem;
    overflow-y: scroll;
    padding: 3.5rem 2rem;

    li {
        display: block;
    }
}

.ship-list::-webkit-scrollbar {
    width: 6px;
}

.ship-list::-webkit-scrollbar-track {
    background: rgba(10, 25, 40, 0.3);
    margin: 10px 0;
}

.ship-list::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            rgba(180, 240, 255, 0.9),
            rgba(90, 190, 255, 0.8));

    border-radius: 8px;

    box-shadow:
        0 0 6px rgba(120, 220, 255, 0.6),
        inset 0 0 4px rgba(255, 255, 255, 0.25);
}

.ship-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
            rgba(210, 255, 255, 1),
            rgba(120, 220, 255, 0.95));
}

@media (orientation: portrait) {

    .hud::after,
    .hud::before {
        display: none;
    }

    .starship-block {
        clip-path: none;
        background: none;
    }

    .ship-list {
        overflow: auto;
        grid-template-columns: minmax(0, 1fr);
    }
}

@media (max-width: 1200px) {

    .hud::after,
    .hud::before {
        height: 30px;
    }

    .ship-list {
        padding: 2.5rem 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .ship-list {
        grid-template-columns: minmax(0, 1fr);
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .ship-list {
        padding: 0.2rem 0.2rem 2rem 0.2rem;
    }
}