.hud::before {
    content: " ";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    height: 60px;
    background: linear-gradient(to bottom,
            var(--dark-rgba-2) 40%,
            transparent);
    pointer-events: none;
    z-index: 1;
}

.hud::after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    height: 60px;
    background: linear-gradient(to top,
            var(--dark-rgba-2) 40%,
            transparent);
    pointer-events: none;
}

.ship-list {
    width: 100%;
    height: 100%;
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        justify-items: center;
        gap: 2rem;
    }

    li {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    button {
        align-self: flex-end;
        flex-shrink: 0;
    }

    p.scan-terminal {
        align-self: flex-start;
    }
}

@media (orientation: portrait) {

    .hud::after,
    .hud::before {
        display: none;
    }

    .starship-block {
        clip-path: none;
        background: none;
    }

    .ship-list ul {
        grid-template-columns: minmax(0, 1fr);
    }
}

@media (max-width: 1200px) {

    .hud::after,
    .hud::before {
        height: 30px;
    }

    .ship-list {
        padding: 2.5rem;

        ul {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media (max-width: 600px) {
    .ship-list ul {
        grid-template-columns: minmax(0, 1fr);
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .ship-list {
        width: var(--full-width);
        margin: auto;
        padding: 0;
    }
}