@keyframes shadow-pulse {

    0%,
    100% {
        filter: drop-shadow(0 0 4px var(--blue-neon-rgba)) drop-shadow(0 0 8px var(--blue-neon-rgba-2));
    }

    50% {
        filter: drop-shadow(0 0 8px rgba(143, 220, 255, 0.8)) drop-shadow(0 0 16px var(--blue-neon-rgba)) drop-shadow(0 0 24px var(--blue-neon-rgba-2));
    }
}

header {
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 0 6px rgba(255, 232, 31, 0.25));
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 1.8rem;
}

.logo {
    height: 100%;
    filter: drop-shadow(0 0 8px var(--dark));
    color: rgba(255, 232, 31, 0.85);

    svg {
        width: auto;
    }
}

nav {
    display: flex;
    padding: 1.5rem;
}

.nav-link {
    position: relative;
    padding: 0.5rem 0.8rem;
    font-family: var(--font-orbitron);
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 500;

    filter:
        drop-shadow(0 0 4px var(--dark));

    &:hover,
    &:focus-visible {
        animation: shadow-pulse 1.5s ease-in-out infinite;
    }

    &::before {
        content: " ";
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: var(--blue-neon-rgba-2);
    }

    &.active::after,
    &:hover::after,
    &:focus-visible::after {
        content: " ";
        height: 3px;
        background: var(--blue-neon);
        position: absolute;
        left: 0;
        bottom: 0;
        animation: nav-border 0.8s forwards;
    }

    &:not(.active) {
        opacity: 0.4;
    }

    &:not(.active):hover,
    &:not(.active):focus-visible {
        opacity: 1;
    }
}

@media (orientation: portrait) {
    header {
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
    }

    .logo {
        width: 35vw;
        height: auto;
    }
}