@keyframes navBorder {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

* {
    transition: 0.6s;
}

header {
    height: 25dvh;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 1.8rem;
}

.logo {
    width: auto;
    height: 70%;
    filter: drop-shadow(0 0 8px var(--color-dark));
}

nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.nav-link {
    position: relative;
    padding: 0.5rem;
    font-family: var(--font-orbitron);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    filter:
        drop-shadow(0 0 2px rgba(143, 220, 255, 0.5)) drop-shadow(0 0 4px black);

    &.active {
        opacity: 0.4;
        cursor: default;
        pointer-events: none;
    }

    &:hover::after {
        content: " ";
        height: 3px;
        background: var(--neon-gradient);
        position: absolute;
        left: 0;
        bottom: 0;
        animation: navBorder 0.8s forwards;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}