@keyframes navBorder {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

* {
    transition: 0.6s;
}

header {
    height: 13dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 1.8rem;
}

.logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: auto;
    height: 100%;
    filter: drop-shadow(0 0 8px var(--color-dark));
}

nav {
    display: flex;
    justify-content: center;
    clip-path: var(--hud-clip);
    padding: 1.5rem;

    &:hover .active {
        opacity: 0.4;
    }
}

.nav-link {
    position: relative;
    padding: 0.5rem 0.8rem;
    font-family: var(--font-orbitron);
    font-size: clamp(0.5rem, 1vw, 0.85rem);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    filter:
        drop-shadow(0 0 4px var(--color-dark));

    &::before {
        content: " ";
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: var(--color-blue-neon-rgba-2);
    }

    &.active::after,
    &:hover::after {
        content: " ";
        height: 3px;
        background: var(--color-blue-neon);
        position: absolute;
        left: 0;
        bottom: 0;
        animation: navBorder 0.8s forwards;
    }

    &.active {
        cursor: default;
        pointer-events: none;
    }
}


@media (max-width: 1200px) {
    header {
        justify-content: space-between;
    }

    .logo {
        position: static;
        transform: none;
    }
}

@media (orientation: portrait) {
    header {
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
    }

    .logo {
        width: 40vw;
        height: auto;
    }
}