form {
    display: flex;
    flex-direction: column;
    width: min(600px, 100%);
    padding: 3rem 0;
    margin: auto;
    position: relative;
    z-index: 2;

    button {
        place-self: end;
    }
}