.intro-hud {
    position: relative;
    z-index: 1;

    h2 {
        opacity: 0.6;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right,
                transparent,
                rgba(220, 240, 255, 0.6),
                transparent) 1;
    }
}

@media (max-width: 700px) {
    .intro-hud {
        display: none;
    }
}