.home-block {
    filter:
        drop-shadow(0 0 3px var(--color-blue-neon-rgba));
}

.hub-container {
    width: 100%;
    height: 100%;
    padding: 3rem 5rem;
    position: relative;
    z-index: 1;
    background-image: url(../../assets/svg/hub-block.svg);
}